.journeyItens{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFF;
  height: 45px;
  padding: 0 30px 0 20px;
  margin: 10px 0;

  width: 730px;
}

.journeyItens > span{
  text-align: center;
}

.journeyItens .journeyItemName{
  font-size: 14px;
  color: var(--color-name);
  text-align: left;
  width: 250px;
}

.journeyItemRecipient{
  margin-left: 42px;  
  font-family: 'Gotham-Book';
  color: #3E4157;
  font-size: 14px;
  width: 90px;
}

.journeyItens .journeyItemSuccess{
  font-family: 'Gotham-Book';
  color: #3E4157;
  font-size: 14px;
  width: 50px;

  margin-left: 85px;
  margin-right: 85px;
}

@media screen and (max-width: 825px){
  .journeyItens{
      width: 10px;
      margin-left: -18px;
      padding: 0 60% 0 48%;
      position: relative;
  }

  .journeyItens .journeyItemName{
    margin-left: -164px;
    width: 100px;
  }

  .journeyItemRecipient{
    left: 128px;
    justify-content: center;
    position: absolute;
  }

  .journeyItens .journeyItemSuccess{
    position: absolute;
    left: 187px;
  } 
}