.modal-shadow {
  background: #1A1731;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.modal-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;

}

.modal-cover {
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 460px;
  padding: 30px;
  margin: 200px auto;
}

.modal-header > h3{
  display: flex;
  justify-content: flex-start;
  color: #9196AB;
  border-bottom: 1px solid var(--color-input-border);
  padding: 0px 0px 17px 0px;
  margin-bottom: 30px;
}

.modal-header > p {
  margin: 20px 0;
}

.modal-body{
  display: flex;
  flex-direction: column;
}

.modal-body > input{
  margin: 7px 0;
  border: 2px solid var(--color-input-border);
  background: #FFFFFF;
  height: 33px;
  border-radius: 7px;
}

.modal-body label{
  font-family: 'Gotham-Book';
  color: #3E4157;
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-done-button{
  margin-right: 7px;
}

.modal-exit-button{
  margin-left: 7px;
}

button {
  background: transparent;
}

.modal-exit-button,
.modal-done-button {
  border: none;
  padding: 5px;
  color: #9196AB;
  cursor: pointer;
  font-family: 'Gotham-Bold';
  font-size: 17px;
}

.modal-exit-button:hover,
.modal-done-button:hover{
  color: var(--color-box);
}

