*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background );
  font-family: 'Gotham-Bold', 'Gotham-Book', sans-serif;
  overflow: hidden;
}

#root{
  display: flex;
  justify-content: center;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
}

:root {
  --color-background: #FAFBFF;
  --color-background-sidebar: #1A1731;
  --color-box: #117EFF;
  --color-logo-border: #EBEEF6;
  --color-input-border: #CCCFDE;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('./assets/fonts/Gotham-Bold.eot');
  src: url('./assets/fonts/Gotham-Bold.eot') format('embedded-opentype'),
       url('./assets/fonts/Gotham-Bold.svg') format('svg'),
       url('./assets/fonts/Gotham-Bold.ttf')  format('truetype'),
       url('./assets/fonts/Gotham-Bold.woff') format('woff'), 
       url('./assets/fonts/Gotham-Bold.woff2') format('woff2');  
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('./assets/fonts/Gotham-Book.eot');
  src: url('./assets/fonts/Gotham-Book.eot') format('embedded-opentype'), 
       url('./assets/fonts/Gotham-Book.svg') format('svg'),
       url('./assets/fonts/Gotham-Book.ttf')  format('truetype'),
       url('./assets/fonts/Gotham-Book.woff') format('woff'), 
       url('./assets/fonts/Gotham-Book.woff2') format('woff2');
}