*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham-Book";
  background: var(--color-background );
  font-family: 'Gotham-Bold', 'Gotham-Book', sans-serif;
  overflow: hidden;
}

#root{
  display: flex;
  justify-content: center;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
}

:root {
  --color-background: #FAFBFF;
  --color-background-sidebar: #1A1731;
  --color-box: #117EFF;
  --color-logo-border: #EBEEF6;
  --color-input-border: #CCCFDE;
  --color-name: #3E4157;
  --color-journeys: #9196AB;

}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('./assets/fonts/Gotham-Bold.eot');
  src: url('./assets/fonts/Gotham-Bold.eot') format('embedded-opentype'),
       url('./assets/fonts/Gotham-Bold.svg') format('svg'),
       url('./assets/fonts/Gotham-Bold.ttf')  format('truetype'),
       url('./assets/fonts/Gotham-Bold.woff') format('woff'), 
       url('./assets/fonts/Gotham-Bold.woff2') format('woff2');  
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('./assets/fonts/Gotham-Book.eot');
  src: url('./assets/fonts/Gotham-Book.eot') format('embedded-opentype'), 
       url('./assets/fonts/Gotham-Book.svg') format('svg'),
       url('./assets/fonts/Gotham-Book.ttf')  format('truetype'),
       url('./assets/fonts/Gotham-Book.woff') format('woff'), 
       url('./assets/fonts/Gotham-Book.woff2') format('woff2');
}

.content{
  position: absolute;
  display: flex;
  top: 155px; 
  width: 80%;
  justify-content: space-between;
}

.filter h2{
  color: #3E4157;
  margin-bottom: 5vh;
}

.filter{
  display: flex;
  flex-direction: column;

}

.information{
  position: relative;
  top: 50px;
  right: 50px;
  z-index: -1;
}

@media screen and (max-width: 1250px){
  .content{
    display: inline;
  }

  .filter{

    align-items: center;
  }

  .filter h2{
    position: absolute;
    margin-top: -30px;
  }

  .information{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: -30px;    
  }
}

@media screen and (max-width: 825px){

  /* .information{
    position: relative;

    margin-top: 240px;

    left: 10px;
  } */
}

