.journeyContainer{
    margin: 35px auto;
}

.journeyContainer .journeyHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 50px;
}

.journeyContainer .journeyHeader > span {
    font-family: 'Gotham-Book';
    color: var(--color-journeys);
    font-size: 14px;
}

.journeyHeader .journeyName{
    width: 230px;
    margin-left: -30px;
    margin-right: -107px;
}

.journeyHeader .journeyRecipient{
    margin-left: 49px;

}

.journeyHeader .journeySuccess{
    margin-right: 7px;
}

.journeyHeader .journeyStatus{
    margin-right: 92px;
}

@media screen and (max-width: 825px){
    .journeyHeader{
        margin-left: 30px;
    }

    .journeyHeader .journeyName{
        margin-right: -140px;
        padding-left: -3;
    }

    .journeyHeader .journeyRecipient{
        margin-left: 10px;
    }

    .journeyHeader .journeySuccess{
       padding-left: 10px;
    }
    
    .journeyHeader .journeyStatus{
        padding-left: 5px;
    }
}