.container{
    display: flex;
    justify-content: space-between;
    margin: -2px;
    height: 100px;
    width: 80%;
    max-width: 100%;
    align-items: center;
}

.leftHeader{
    display: flex;
    align-items: center;
}

.user{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    background: var(--color-box);
    height: 23px;
    width: 25px;
    font-family: 'Gotham-Bold';
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
    line-height: 23px;
}

.companyLogo{
    border: 1px solid var(--color-logo-border);
    text-align: center;
    height: 30px;
    width: 90px;
    padding: 3px 0;
    border-radius: 7px;
    background: #FFFFFF;
}

.companyLogo > img{
    max-width: 66px;
}

.rightHeader{
    display: flex;
    align-items: center;
    position: relative;
    left: 30%;
}

.rightHeader > input{
    border: 2px solid var(--color-input-border);
    height: 35px;
    width: 296px;
    border-radius: 5px;
    padding-left: 30px;
    cursor: pointer;
}

.rightHeader .img{
    height: 10px;
    width: 15px;
    background: url('../../assets/icons/search.svg') no-repeat;
    position: relative;
    right: 283px;
}

.journeyButton{
    background: var(--color-box);
    color: #FFFFFF;
    font-family: 'Gotham-Bold';
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 35px;
    width: 150px;
    padding: 0px 17px;
    margin-left: 15px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.journeyButton > img{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

@media screen and (max-width: 870px){
    .leftHeader{
        margin-left: 30px;
    }

    .rightHeader{
        left: 10px;
    }
}

@media screen and (max-width: 750px){
    .container{
        display: block;
        margin: 15px 140px;
    }

    .rightHeader{
        left: -60px;
        top: 19px;

        justify-content: flex-start;
    } 

}